{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% if items.not_started|length > 0 %}
        <h2>To Do</h2>
        <ul class="list-group mb-4">
          {% for item in items.not_started %}
          <li>
            <div>{{ item.title }}</div>
            {%  if item.description|length > 0 %}
              <div>{{ item.description }}</div>
            {% endif %}
            {%  if item.due is not none %}
              <div>{{ item.due.day }} {{ item.due.strftime("%b %Y") }}</div>
            {% endif %}
            <div class="btn-group mr-2" role="group">
              <form action="/start-item" method="post" class="form-inline">
                  <button name="id" value="{{ item.id_ }}" class="btn btn-primary btn-sm" >Start</button>
              </form>
            </div>
            <div class="btn-group mr-2" role="group">
              <form action="/delete-item" method="post" class="form-inline">
                  <button name="id" value="{{ item.id_ }}" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </div>
          </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if items.in_progress|length > 0 %}
        <h2>In Progress</h2>
        <ul class="list-group mb-4">
          {% for item in items.in_progress %}
          <li>
            <div>{{ item.title }}</div>
            {%  if item.description|length > 0 %}
              <div>{{ item.description }}</div>
            {% endif %}
            {%  if item.due is not none %}
              <div>{{ item.due.day }} {{ item.due.strftime("%b %Y") }}</div>
            {% endif %}
            <div class="btn-group mr-2" role="group">
              <form action="/complete-item" method="post" class="form-inline">
                  <button name="id" value="{{ item.id_ }}" class="btn btn-success btn-sm" >Complete</button>
              </form>
            </div>
            <div class="btn-group mr-2" role="group">
              <form action="/delete-item" method="post" class="form-inline">
                  <button name="id" value="{{ item.id_ }}" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </div>
          </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if items.completed|length > 0 %}
        <h2>Complete Items</h2>
        <ul class="list-group mb-4">
          {% for item in items.completed %}
              <li>
                  {{ item.title }}
                  <div class="btn-group mr-2" role="group">
                    <form action="/delete-item" method="post" class="form-inline">
                      <button name="id" value="{{ item.id_ }}" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                  </div>
              </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>

  <h2>Add item to do</h2><br>
  <div class="row">
    <form class="form-inline" action="/add-item" method="post">
      <div class="form-group mx-sm-3 mb-2">
        <label for="title" class="sr-only">Title:</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
        <input type="text" class="form-control" id="description" name="description" placeholder="Description">
        <input type="date" class="form-control" id="due-date" name="due-date">
      </div>
      <input type="submit" class="btn btn-primary mb-2" value="Add item">
    </form>
  </div>
{% endblock %}